<div class="reduced-font">
  <div>
    <carousel interval="6000">
      <slide>
        <img [src]="banner1" alt="ASP.NET" class="img-fluid" />
        <div class="carousel-caption">
          <p>
            Learn how to build ASP.NET apps that can run anywhere
            <a class="btn btn-outline-info btn-sm" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
      <slide>
        <img [src]="banner2" alt="Visual Studio" class="img-fluid" />
        <div class="carousel-caption">
          <p>
            One platform for building modern web, native mobile and native desktop applications
            <a class="btn btn-outline-primary btn-sm" href="http://angular.io" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
      <slide>
        <img [src]="banner3" alt="Package Management" class="img-fluid" />
        <div class="carousel-caption">
          <p>
            Bring in libraries from NuGet and npm, and bundle with angular/cli
            <a class="btn btn-outline-success btn-sm" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409" target="_blank">
              Learn More
            </a>
          </p>
        </div>
      </slide>
      <slide>
        <img [src]="banner4" alt="Eben Monney" class="img-fluid" />
        <div class="carousel-caption">
          <p>
          </p>
        </div>
      </slide>
    </carousel>
  </div>


  <div class="row">
    <div class="col-md-3">
    </div>
  </div>
</div>
